attached_assets/blueprint (4).json
{
    "name": "FAQ3K Builder (BACKUP)",
    "flow": [
        {
            "id": 7,
            "module": "google-sheets:getSheetContent",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 906071
            },
            "mapper": {
                "range": "A2:B",
                "select": "map",
                "sheetId": "Categories",
                "spreadsheetId": "1qvid6mtqMKDxuLkxJzUo3BwaVdJXhwJ28EnsuS2LRcI",
                "tableFirstRow": "1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "includesHeaders": {
                            "mode": "chose"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "SMS Google Account (sellmoresolutions.ai@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "list",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "range",
                        "type": "text",
                        "label": "Range",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "boolean",
                        "label": "Table contains headers",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "list",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "range",
                        "type": "text",
                        "label": "Range",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "boolean",
                        "label": "Table contains headers",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": true,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 5,
                        "module": "builtin:BasicFeeder",
                        "version": 1,
                        "parameters": {},
                        "mapper": {
                            "array": "[  { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" },  { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }, { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" },  { \"Category\": \"{{7.`0`}}\", \"Description\": \"{{7.`1`}}\" }]"
                        },
                        "metadata": {
                            "designer": {
                                "x": 300,
                                "y": 0,
                                "name": "Loop-de-Loop1",
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Google Sheets - Get Range Values' [7] is not accessible."
                                    },
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "array": {
                                        "mode": "edit"
                                    }
                                }
                            },
                            "expect": [
                                {
                                    "mode": "edit",
                                    "name": "array",
                                    "spec": [],
                                    "type": "array",
                                    "label": "Array"
                                }
                            ]
                        }
                    },
                    {
                        "id": 8,
                        "module": "openai-gpt-3:CreateCompletion",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 887703
                        },
                        "mapper": {
                            "model": "gpt-4o-mini",
                            "top_p": "1",
                            "select": "chat",
                            "messages": [
                                {
                                    "role": "user",
                                    "content": "OBJECTIVE:\nThe goal is to create a comprehensive list of questions that cover all aspects a facility manager, building owner, or property developer might consider before hiring a commercial roofing contractor, ensuring no repetition or close matches of previously asked questions.\n\nINSTRUCTIONS:\nAct as an audience of 1,000 commercial and industrial property stakeholders attending a stage presentation by a 30-year veteran of commercial flat roofing installations, membrane systems, commercial roof coatings, and industrial roofing solutions.\n\nAUDIENCE PROFILE:\nThe audience consists of a diverse group of commercial and industrial property stakeholders, including those who manage or own:\n\n* Manufacturing facilities\n* Warehouses\n* Office buildings\n* Retail centers\n* Industrial complexes\n* Distribution centers\n* Healthcare facilities\n* Educational institutions\n* Multi-unit commercial properties\n* Large apartment complexes and multi-family buildings\n* Data centers\n* Cold storage facilities\n* Food processing plants\n* Mixed-use developments\n* Industrial parks\n\nTASK:\nGenerate 50 unique audience questions for the speaker for the category {{7.`0`}} and category description {{7.`1`}}.\n\nINSTRUCTIONS:\n* Ask questions in 11 words or less\n* Ask a single-faceted question, and assume a 7th grade reading level\n* Questions should be family-friendly and appropriate for all age levels\n* Provide only the questions — no additional commentary or explanation before or after\n* Display the questions in plain text — no bullets, numbering, or markup\n\nEnsure the questions have not been asked previously nor closely match existing questions\n\nOUTPUT FORMAT:\nOUTPUT FORMAT:\nReturn the questions in this exact JSON array format:\n{\n  \"questions\": [\n\"Question1\",\n\"Question2\",\n\"Question3\",\n\"Question4\",\n\"Question5\",\n\"Question6\",\n\"Question7\",\n\"Question8\",\n\"Question9\",\n\"Question10\",\n\"Question11\",\n\"Question12\",\n\"Question13\",\n\"Question14\",\n\"Question15\",\n\"Question16\",\n\"Question17\",\n\"Question18\",\n\"Question19\",\n\"Question20\",\n\"Question21\",\n\"Question22\",\n\"Question23\",\n\"Question24\",\n\"Question25\",\n\"Question26\",\n\"Question27\",\n\"Question28\",\n\"Question29\",\n\"Question30\",\n\"Question31\",\n\"Question32\",\n\"Question33\",\n\"Question34\",\n\"Question35\",\n\"Question36\",\n\"Question37\",\n\"Question38\",\n\"Question39\",\n\"Question40\",\n\"Question41\",\n\"Question42\",\n\"Question43\",\n\"Question44\",\n\"Question45\",\n\"Question46\",\n\"Question47\",\n\"Question48\",\n\"Question49\",\n\"Question50\"\n  ]\n}",
                                    "imageDetail": "auto"
                                }
                            ],
                            "max_tokens": "2048",
                            "temperature": "1",
                            "n_completions": "1",
                            "response_format": "text"
                        },
                        "metadata": {
                            "designer": {
                                "x": 600,
                                "y": 0,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Google Sheets - Get Range Values' [7] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "stop": {
                                        "mode": "chose"
                                    },
                                    "model": {
                                        "mode": "chose",
                                        "label": "gpt-4o-mini (system)"
                                    },
                                    "select": {
                                        "label": "Create a Chat Completion (GPT and o1 models)"
                                    },
                                    "messages": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "role": {
                                                    "mode": "chose",
                                                    "label": "User"
                                                },
                                                "imageDetail": {
                                                    "mode": "chose",
                                                    "label": "Auto"
                                                },
                                                "imageInputType": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                }
                                            }
                                        ]
                                    },
                                    "logit_bias": {
                                        "mode": "chose"
                                    },
                                    "response_format": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "additionalParameters": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "openai-gpt-3"
                                        },
                                        "label": "SMS OpenAI connection"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:openai-gpt-3",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "select",
                                    "type": "select",
                                    "label": "Select Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "chat",
                                            "prompt"
                                        ]
                                    }
                                },
                                {
                                    "name": "temperature",
                                    "type": "number",
                                    "label": "Temperature",
                                    "validate": {
                                        "max": 2,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "top_p",
                                    "type": "number",
                                    "label": "Top P",
                                    "validate": {
                                        "max": 1,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "n_completions",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "frequency_penalty",
                                    "type": "number",
                                    "label": "Frequency Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "presence_penalty",
                                    "type": "number",
                                    "label": "Presence Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "logit_bias",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "token",
                                                "type": "text",
                                                "label": "Token ID",
                                                "required": true
                                            },
                                            {
                                                "name": "probability",
                                                "type": "number",
                                                "label": "Probability",
                                                "required": true,
                                                "validate": {
                                                    "max": 100,
                                                    "min": -100
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Token Probability"
                                    },
                                    "type": "array",
                                    "label": "Token Probability"
                                },
                                {
                                    "name": "seed",
                                    "type": "integer",
                                    "label": "Seed"
                                },
                                {
                                    "name": "stop",
                                    "spec": {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Stop Sequence"
                                    },
                                    "type": "array",
                                    "label": "Stop Sequences",
                                    "validate": {
                                        "maxItems": 4
                                    }
                                },
                                {
                                    "name": "additionalParameters",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Parameter Name",
                                                "required": true
                                            },
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Input Type",
                                                "options": [
                                                    {
                                                        "label": "Text",
                                                        "value": "text",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Parameter Value"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Number",
                                                        "value": "number",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "number",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Boolean",
                                                        "value": "boolean",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "boolean",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Date",
                                                        "value": "date",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "date",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Any",
                                                        "value": "any",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Input Parameter"
                                    },
                                    "type": "array",
                                    "label": "Other Input Parameters"
                                },
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "required": true
                                },
                                {
                                    "name": "max_tokens",
                                    "type": "uinteger",
                                    "label": "Max Completion Tokens"
                                },
                                {
                                    "name": "messages",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": {
                                                    "store": [
                                                        {
                                                            "label": "System",
                                                            "value": "system",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "User",
                                                            "value": "user",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                },
                                                                {
                                                                    "name": "imageInputType",
                                                                    "type": "select",
                                                                    "label": "Image Input Type",
                                                                    "options": [
                                                                        {
                                                                            "label": "URL",
                                                                            "value": "url",
                                                                            "nested": [
                                                                                {
                                                                                    "help": "Make sure to use a publically accessible URL.\nYou can test if your image is publically accessible by opening the link in an incognito tab.",
                                                                                    "name": "imageUrl",
                                                                                    "type": "url",
                                                                                    "label": "Image URL"
                                                                                }
                                                                            ]
                                                                        },
                                                                        {
                                                                            "label": "Image File",
                                                                            "value": "file",
                                                                            "nested": [
                                                                                {
                                                                                    "name": "imageFile",
                                                                                    "spec": [
                                                                                        {
                                                                                            "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                            "name": "imageFilename",
                                                                                            "type": "filename",
                                                                                            "label": "Image Filename",
                                                                                            "semantic": "file:name",
                                                                                            "extension": [
                                                                                                "jpg",
                                                                                                "jpeg",
                                                                                                "png",
                                                                                                "webp",
                                                                                                "gif"
                                                                                            ]
                                                                                        },
                                                                                        {
                                                                                            "name": "imageData",
                                                                                            "type": "buffer",
                                                                                            "label": "Image Data",
                                                                                            "semantic": "file:data"
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Image"
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "mappable": false
                                                                },
                                                                {
                                                                    "name": "imageDetail",
                                                                    "type": "select",
                                                                    "label": "Image Detail",
                                                                    "options": [
                                                                        {
                                                                            "label": "Auto",
                                                                            "value": "auto",
                                                                            "default": true
                                                                        },
                                                                        {
                                                                            "label": "High",
                                                                            "value": "high"
                                                                        },
                                                                        {
                                                                            "label": "Low",
                                                                            "value": "low"
                                                                        }
                                                                    ],
                                                                    "advanced": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Message"
                                    },
                                    "type": "array",
                                    "label": "Messages",
                                    "required": true
                                },
                                {
                                    "name": "response_format",
                                    "type": "select",
                                    "label": "Response Format",
                                    "validate": {
                                        "enum": [
                                            "text",
                                            "json_object"
                                        ]
                                    }
                                }
                            ],
                            "interface": [
                                {
                                    "name": "result",
                                    "type": "any",
                                    "label": "Result"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "object",
                                    "type": "text",
                                    "label": "Object"
                                },
                                {
                                    "name": "created",
                                    "type": "date",
                                    "label": "Created"
                                },
                                {
                                    "name": "model",
                                    "type": "text",
                                    "label": "Model"
                                },
                                {
                                    "name": "choices",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "index",
                                                "type": "number",
                                                "label": "Index"
                                            },
                                            {
                                                "name": "logprobs",
                                                "type": "text",
                                                "label": "Log Probs"
                                            },
                                            {
                                                "name": "finish_reason",
                                                "type": "text",
                                                "label": "Finish Reason"
                                            },
                                            {
                                                "name": "message",
                                                "spec": [
                                                    {
                                                        "name": "role",
                                                        "type": "text",
                                                        "label": "Role"
                                                    },
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "refusal",
                                                        "type": "text",
                                                        "label": "Refusal"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Message"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Choices"
                                },
                                {
                                    "name": "usage",
                                    "spec": [
                                        {
                                            "name": "prompt_tokens",
                                            "type": "number",
                                            "label": "Prompt Tokens"
                                        },
                                        {
                                            "name": "completion_tokens",
                                            "type": "text",
                                            "label": "Completion Tokens"
                                        },
                                        {
                                            "name": "total_tokens",
                                            "type": "number",
                                            "label": "Total Tokens"
                                        },
                                        {
                                            "name": "prompt_tokens_details",
                                            "spec": [
                                                {
                                                    "name": "cached_tokens",
                                                    "type": "uinteger",
                                                    "label": "Cached Tokens"
                                                },
                                                {
                                                    "name": "text_tokens",
                                                    "type": "uinteger",
                                                    "label": "Text Tokens"
                                                },
                                                {
                                                    "name": "image_tokens",
                                                    "type": "uinteger",
                                                    "label": "Image Tokens"
                                                },
                                                {
                                                    "name": "audio_tokens",
                                                    "type": "uinteger",
                                                    "label": "Audio Tokens"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Prompt Tokens Details"
                                        },
                                        {
                                            "name": "completion_tokens_details",
                                            "spec": [
                                                {
                                                    "name": "reasoning_tokens",
                                                    "type": "uinteger",
                                                    "label": "Reasoning Tokens"
                                                },
                                                {
                                                    "name": "text_tokens",
                                                    "type": "uinteger",
                                                    "label": "Text Tokens"
                                                },
                                                {
                                                    "name": "audio_tokens",
                                                    "type": "uinteger",
                                                    "label": "Audio Tokens"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Completion Tokens Details"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Usage"
                                },
                                {
                                    "name": "system_fingerprint",
                                    "type": "text",
                                    "label": "System Fingerprint"
                                }
                            ]
                        }
                    },
                    {
                        "id": 10,
                        "module": "json:ParseJSON",
                        "version": 1,
                        "parameters": {
                            "type": ""
                        },
                        "mapper": {
                            "json": "{{8.result}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": 900,
                                "y": 0
                            },
                            "restore": {
                                "parameters": {
                                    "type": {
                                        "label": "Choose a data structure"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "type",
                                    "type": "udt",
                                    "label": "Data structure"
                                }
                            ],
                            "expect": [
                                {
                                    "name": "json",
                                    "type": "text",
                                    "label": "JSON string",
                                    "required": true
                                }
                            ]
                        }
                    },
                    {
                        "id": 11,
                        "module": "builtin:BasicFeeder",
                        "version": 1,
                        "parameters": {},
                        "mapper": {
                            "array": "{{10.questions}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": 1158,
                                "y": 7,
                                "name": "Loop-de-Loop2"
                            },
                            "restore": {
                                "expect": {
                                    "array": {
                                        "mode": "edit"
                                    }
                                }
                            },
                            "expect": [
                                {
                                    "mode": "edit",
                                    "name": "array",
                                    "spec": [],
                                    "type": "array",
                                    "label": "Array"
                                }
                            ]
                        }
                    },
                    {
                        "id": 9,
                        "module": "google-sheets:addRow",
                        "version": 2,
                        "parameters": {
                            "__IMTCONN__": 906071
                        },
                        "mapper": {
                            "mode": "map",
                            "values": {
                                "0": "{{7.`0`}}",
                                "1": "{{11.value}}"
                            },
                            "sheetId": "FAQ3K",
                            "spreadsheetId": "1qvid6mtqMKDxuLkxJzUo3BwaVdJXhwJ28EnsuS2LRcI",
                            "tableFirstRow": "A1:Z1",
                            "insertDataOption": "INSERT_ROWS",
                            "valueInputOption": "USER_ENTERED",
                            "insertUnformatted": true
                        },
                        "metadata": {
                            "designer": {
                                "x": 1420,
                                "y": 6,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Google Sheets - Get Range Values' [7] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "mode": {
                                        "label": "Enter manually"
                                    },
                                    "tableFirstRow": {
                                        "label": "A-Z",
                                        "nested": [
                                            {
                                                "name": "values",
                                                "spec": [
                                                    {
                                                        "name": "0",
                                                        "type": "text",
                                                        "label": "A"
                                                    },
                                                    {
                                                        "name": "1",
                                                        "type": "text",
                                                        "label": "B"
                                                    },
                                                    {
                                                        "name": "2",
                                                        "type": "text",
                                                        "label": "C"
                                                    },
                                                    {
                                                        "name": "3",
                                                        "type": "text",
                                                        "label": "D"
                                                    },
                                                    {
                                                        "name": "4",
                                                        "type": "text",
                                                        "label": "E"
                                                    },
                                                    {
                                                        "name": "5",
                                                        "type": "text",
                                                        "label": "F"
                                                    },
                                                    {
                                                        "name": "6",
                                                        "type": "text",
                                                        "label": "G"
                                                    },
                                                    {
                                                        "name": "7",
                                                        "type": "text",
                                                        "label": "H"
                                                    },
                                                    {
                                                        "name": "8",
                                                        "type": "text",
                                                        "label": "I"
                                                    },
                                                    {
                                                        "name": "9",
                                                        "type": "text",
                                                        "label": "J"
                                                    },
                                                    {
                                                        "name": "10",
                                                        "type": "text",
                                                        "label": "K"
                                                    },
                                                    {
                                                        "name": "11",
                                                        "type": "text",
                                                        "label": "L"
                                                    },
                                                    {
                                                        "name": "12",
                                                        "type": "text",
                                                        "label": "M"
                                                    },
                                                    {
                                                        "name": "13",
                                                        "type": "text",
                                                        "label": "N"
                                                    },
                                                    {
                                                        "name": "14",
                                                        "type": "text",
                                                        "label": "O"
                                                    },
                                                    {
                                                        "name": "15",
                                                        "type": "text",
                                                        "label": "P"
                                                    },
                                                    {
                                                        "name": "16",
                                                        "type": "text",
                                                        "label": "Q"
                                                    },
                                                    {
                                                        "name": "17",
                                                        "type": "text",
                                                        "label": "R"
                                                    },
                                                    {
                                                        "name": "18",
                                                        "type": "text",
                                                        "label": "S"
                                                    },
                                                    {
                                                        "name": "19",
                                                        "type": "text",
                                                        "label": "T"
                                                    },
                                                    {
                                                        "name": "20",
                                                        "type": "text",
                                                        "label": "U"
                                                    },
                                                    {
                                                        "name": "21",
                                                        "type": "text",
                                                        "label": "V"
                                                    },
                                                    {
                                                        "name": "22",
                                                        "type": "text",
                                                        "label": "W"
                                                    },
                                                    {
                                                        "name": "23",
                                                        "type": "text",
                                                        "label": "X"
                                                    },
                                                    {
                                                        "name": "24",
                                                        "type": "text",
                                                        "label": "Y"
                                                    },
                                                    {
                                                        "name": "25",
                                                        "type": "text",
                                                        "label": "Z"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Values"
                                            }
                                        ]
                                    },
                                    "insertDataOption": {
                                        "mode": "chose",
                                        "label": "Insert rows"
                                    },
                                    "valueInputOption": {
                                        "mode": "chose",
                                        "label": "User entered"
                                    },
                                    "insertUnformatted": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "google"
                                        },
                                        "label": "SMS Google Account (sellmoresolutions.ai@gmail.com)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:google",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "mode",
                                    "type": "select",
                                    "label": "Search Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "select",
                                            "fromAll",
                                            "map"
                                        ]
                                    }
                                },
                                {
                                    "name": "insertUnformatted",
                                    "type": "boolean",
                                    "label": "Unformatted",
                                    "required": true
                                },
                                {
                                    "name": "valueInputOption",
                                    "type": "select",
                                    "label": "Value input option",
                                    "validate": {
                                        "enum": [
                                            "USER_ENTERED",
                                            "RAW"
                                        ]
                                    }
                                },
                                {
                                    "name": "insertDataOption",
                                    "type": "select",
                                    "label": "Insert data option",
                                    "validate": {
                                        "enum": [
                                            "INSERT_ROWS",
                                            "OVERWRITE"
                                        ]
                                    }
                                },
                                {
                                    "name": "spreadsheetId",
                                    "type": "text",
                                    "label": "Spreadsheet ID",
                                    "required": true
                                },
                                {
                                    "name": "sheetId",
                                    "type": "text",
                                    "label": "Sheet Name",
                                    "required": true
                                },
                                {
                                    "name": "tableFirstRow",
                                    "type": "select",
                                    "label": "Column range",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "A1:Z1",
                                            "A1:BZ1",
                                            "A1:CZ1",
                                            "A1:DZ1",
                                            "A1:MZ1",
                                            "A1:ZZ1"
                                        ]
                                    }
                                },
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "A"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "B"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "C"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "D"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "E"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "F"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "G"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "H"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "I"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "J"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "K"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "L"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "M"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "N"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "O"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "P"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Q"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "R"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "S"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "T"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "U"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "V"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "W"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "X"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Y"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Z"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "us2.make.com",
        "notes": []
    }
}